<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>ML API</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style2.css') }}">
  
</head>

<body>
  <div class="login">
    <h1>Predict Compressive Strength of Fly-Ash/RCA based Self Compacting Concrete </h1>
  </div>
  
 <div class="login-container">
   <div class="form">
     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
      <div class="input-group">
        <select name="Model" id="Model">
          <div class="select-wrapper">
        <option value ="0">Choose a Model</option>
        <option value="1">K-nearest Neighbour Regression(KNN)</option>
        <option value="2">Extra Tree Regression(ETR)</option>
        <option value="3">Bagging Regression(BR)</option>
        <option value="4">Adaboost Regression(AR)</option>
        <option value="5">Xgboost Regression(XGB)</option>
        <option value="6">Linear Regression(LR)</option>
        <option value="7">Random Forest Regression(RF)</option>
        <option value="8">Decision Tree Regression(DTR)</option>
        <option value="9">Support Vector Regression(SVR)</option>
        <option value="10">Gradient Boosting Regression(GBR)</option>
          </div>
      </div>
      <div class="input-group">
    	<input type="text" name="ecc" placeholder="Recycled Coarse Aggregates (kg/m3)" required="required" />
      </div>
      <div class="input-group">
        <input type="text" name="Ch" placeholder="Coarse Aggregates (kg/m3)" required="required" />
      </div>
        <div class="input-group">
		<input type="text" name="CS" placeholder="Fine Aggregates (kg/m3)" required="required" />
  </div>
    <div class="input-group">
    	<input type="text" name="od" placeholder="Water/cement Ratio" required="required" />
    </div>
      <div class="input-group">
        <input type="text" name="th" placeholder="Water/binder Ratio" required="required" />
      </div>
        <div class="input-group">
		<input type="text" name="ys" placeholder="Water (kg/m3)" required="required" />
  </div>
    <div class="input-group">
    	<input type="text" name="super" placeholder="Superplasticizers (%)" required="required" />
    </div>
    <div class="input-group">
    	<input type="text" name="fa" placeholder="Fly Ash (kg/m3)" required="required" />
    </div>
    <div class="input-group">
    	<input type="text" name="Cement" placeholder="Cement (kg/m3)" required="required" />
    </div>
    <div class="input-group">
    	<input type="text" name="cd" placeholder="Curing Days" required="required" />
    </div>
        <button type="submit" class="btn btn-primary btn-block btn-large">Predict Compressive strength</button>
    </form>

   
 </div>
</div>
<footer>
    <p>This GUI is developed by Ayush Rathore, Rajwinder Singh and Dr Mahesh Patel, Department of Civil Engineering, Dr BR Ambedkar National institute of Technology, Jalandhar, India</p>
		</footer>
</body>

</html>
